/* #boxy {
  background: image-url('portfolio-4.jpg') no-repeat;
} */
html {
  position: relative;
}

body {
  color: darkgray;
  font-size: 28px;
  background-color: bisque;
  height: 100vh;
}

h1 {
  color:cadetblue;
  margin: 25px 0px;
}

td {
  font-size: 10px;
  color:darkorchid;
}

.link-btn {
  font-size: 18px;
  color:brown;
}

.container {
  /* position: relative; */
  text-align: center;
}

.content {
  text-align: center;
  padding-bottom: 60px;
}

.footer-wrapper {
  height: 60px;
  width: 100%;
  bottom: 0px;
  text-align: right;
  position: absolute;
  background-color: darkgray;
}

p {
  color:blueviolet;
  font-size: 20px;
  text-align: center;
}

.list-inline-item {
  list-style: none;
  float: left;
  margin-left: 1em;
  margin-bottom: 0.8em;
}